.infos{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 70px;
    position: relative;
} 

.infos .backdrop{
    display: flex;
    width: 100%;
    opacity: 0.4;
} 

.infos .couverture {
    width:400px;
    height: 370px;
    margin: 60px;
    margin-left: 65px;
    position: absolute;
}

.infos .details{
    position: absolute;
    margin-left: 45%;
    text-align: left;
    margin-top: 25%;
}

