*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.foot{
    /* width: 90%; */
    height: 50px;
    margin-top: 30px;
}

.foot h1{
    font-size: 12px;
    text-align: center;
    color: white;
}